body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
  padding: 40px;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
  color: #222;
  min-height: 100vh;
}

.app.dark {
  background-color: #222;
  color: #f5f5f5;
}

button {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #35393c;
  color: white;
}

button:hover{
    transform: translateY(-3px);
}

button:active{
    transform: translateY(1px);
}

.dark-btn{
    background-color: rgb(241, 239, 239);
    color: black;
}

.box {

  margin-top: 20px;
  padding: 20px;
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  display: block;
}

.box-hidden{
    display: none;
}
.dark-box{
    background-color: #5a5858;
}

.cover {
  margin-top: 20px;
  padding: 20px;
  background-color: crimson;
  color: white;
  border-radius: 8px;
}